body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 95vh;
    }

.painting-container {
      display: grid;
      grid-template-columns: 320px 198px 153px 50px;
      grid-template-rows: 414px 130px 155px 20px ;
      grid-auto-columns: 50px;
      gap: 9px;
      background-color: #000;
    }

.grid-item {
      background-color: #F0F1EC;
    }

.red {
      background-color: #E72F24;
    }

.two { 
      grid-column: 2 / 5 ;
      grid-row: 1;
    }

.three {
      grid-area: 1 / 3 / 2 / 4;
    }

.four {
      grid-area: 1 / 4 / 2 / 5;
    } 

.five {
      grid-area: 2 / 1 / 4 / 2 ;
    }

.six {
      grid-area: 2 / 2 / 4 / 4;
    }

.seven {
      grid-column: 3 / 4 ;
      grid-row: 2; 
    }

.nine {
      grid-area: 3 / 1 / 4 / 2;
    }

.ten {
      grid-area: 3 / 2 / 4 / 3 ;
    }

.eleven {
      grid-area: 3 / 3 / 4 / 4;
    }

.twelve {
      grid-area: 3 / 4 / 5 / 5 ;
    }

.sixteen {
      grid-area: 4 / 4 / 5 / 5; 
    }

.blue {
      background-color: #004592;
      grid-area: 2 / 4 / 3 / 5 ;
      border-bottom: 10px solid black;
    }

.yellow {
      background-color: #F9D01E;
    }

.black {
      background-color: #232629;
    }

@media (max-width: 1020px) {
      body {
        height: 100vh;
        justify-content: center;
        align-items: center;
      }
    
    }